body
{
    background-color: #0a050a;
}

.pageHeader
{
    background-image: url(./Assets/HeaderImage.jpg);
    color:white;
    position: relative;
}

.plannerItem
{
    width:100%;
    padding: .5rem 10px;
    border: solid black 2px;
    border-radius: 5px;
    background-color: #F9FDCE;
    resize:none;
    outline:none;
}

#saveBox
{
    border: solid red 2px;
    border-radius: 10px;
    padding:15px;
    display: none;
}

.plannerLabel
{
    padding: .5rem 10px;
    border-radius: 3px;
    background-color: black;
    color: white;
}

.utilityRow
{
    padding-top: 10px;
    padding-bottom: 10px;
}

.scheduleRow
{
    background-color:#EFFD60;
    padding-top:20px;
    padding-bottom:20px;
}